.aboutus__items {
    width: 1051px;
    height: 518px;
}

.title {
    margin-bottom: 30px;
    font-size: 18px;
    line-height: 25px;
}

.aboutus__description {
    width: 1048px;
    margin: 0px 0px 30px 3px;
    font-size: 45px;
    line-height: 61.45px;
}

.aboutus__button {
    width: 255px;
    height: 67px;
    display: block;
    Padding: 20px 40px ;
    font-weight: 400;
    font-size: 20px;
    line-height: 27.32px;
    border-radius: 5px;
    color: #FFFFFF;
    background-color: #AD1818;
    text-decoration: none;
    cursor: pointer;
}

@media (max-width: 1199px) {
    
    .aboutus__items {
        width: 100%;
        height: auto;
    }

    .aboutus__description {
        width: 100%;
        font-size: 35px;
        line-height: 48px;
        padding-right: 20%;
    }
}

@media (max-width: 767px) {

    .title {
        margin-bottom: 19.95px;
        font-size: 14px;
        line-height: 19.12px;
    }

    .aboutus__description {
        margin: 0px 0px 30px 0px;
        font-size: 22px;
        line-height: 30.05px;
        padding-right: 2%;
    }

    .aboutus__button {
        width: 194px;
        height: 51px;
        Padding: 15px 27px;
        font-size: 16px;
        line-height: 22px;
        border-radius: 3.8px;
    }

}