html {
    scroll-behavior: smooth;
}

h1, h2, h3, h4, h5 ,h6, p, a {
    font-family: 'Manrope';
    font-weight: 400;
    letter-spacing: -0.03em;
    color: #121212;
}

.container {
    width: 1180px;
    margin: 0 auto;
    padding: 0 15px;
    margin-bottom: 150px;
}

.body_fixed {
    overflow: hidden;
}

.section {
    margin-bottom: 150px;

}

.title {
    margin-bottom: 30px;
    font-size: 18px;
    line-height: 25px;
}

@media (max-width: 1199px) {
    .container {
        width: 100%;
        padding: 0 17px 0 15px;
        margin-bottom: 120px;
    }
}

@media (max-width: 767px) {
    .container {
        padding: 0 12px;
        margin-bottom: 80px;
    }
}

