.header__container {
    margin-top: 33px;
    margin-bottom: 70px;
}

.header__nav {
    display: flex; 
    align-items: center;
}

.header__logo {
    width: 127px;
    height: 25px;
    object-fit: contain;
    margin-right: 558px;
}

.header__item {
    width: 86px;
    cursor: pointer;
    text-decoration: none;
    color: #121212;
    font-size: 18px;
    line-height: 25px;  
}

.item-aboutus {
    width: 51px;
    margin-right: 60px;
}

.item-projects {
    width: 79px;
    margin-right: 60px;
}

.item-services {
    width: 66px;
    margin-right: 60px;
}

.item-contacts {
    width: 90px;
}

.header__item:hover {
    border-bottom: solid 1px;
    opacity: 0.5;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

@media (max-width: 1199px) {

    .header__item {
        display: none;
    }
}