body, html {
    min-width: 100%;
}

h1, h2, h3, h4, h5 ,h6, p, a {
    font-family: 'Manrope';
    letter-spacing: -0.03em;
}

.presentation__container {
    width: 1400px;
    height: 650px;
    margin: 0 auto;
    margin-bottom: 150px;
}

.presentation__items {
    width: 1150px;
    height: 650px;
    margin-left: 124px;
}

.presentation__title {
    width: 956px;
    height: 120px;
    display: block;
    margin-bottom: 30px;
    font-weight: 400;
    font-size: 60px;
    line-height: 60px;
}

.presentation__img {
    min-width: 1150px;
    min-height: 500px;
    background-image: url(../resources/Presentation-image@2x.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    padding-top: 379px;
    padding-left: 40px;
}

.presentation__description {
    width: 430px;
    height: 81px;
    display: block;
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
    color: #ffffff;
}

@media (max-width: 1199px) {
    .presentation__container {
        width: 100%;
        height: 550px;
        margin-top: 128px;
        margin-right: 15px;
        margin-bottom: 120px;
        margin-left: 15px;
    }
    
    .presentation__items {
        width: 100%;
        height: 550px;
    }
    
    .presentation__title {
        width: 802px;
        height: 120px;
        display: block;
        margin-bottom: 30px;
        font-weight: 400;
        font-size: 50px;
        line-height: 60px;
    }
    
    .presentation__img {
        min-width: 100%;
        min-height: 500px;
        background-image: url(../resources/Presentation-image@2x.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 50% 50%;
        padding-top: 289px;
        padding-left: 40px;
    }
    
    .presentation__description {
        width: 430px;
        height: 81px;
        display: block;
        font-weight: 400;
        font-size: 20px;
        line-height: 27px;
        color: #ffffff;
    }
}