.presentation__title {
    padding-right: 196px;
    margin-bottom: 30px;
    font-weight: 400;
    font-size: 60px;
    line-height: 60px;
}

.presentation__items {
    width: 1150px;
    height: 650px;
}

.presentation__img {
    background-image: url(../resources/Presentation-image@2x.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    padding: 379px 0px 40px 40px;
}

.presentation__description {
    width: 430px;
    height: 81px;
    font-size: 20px;
    line-height: 27px;
    color: #ffffff;
}

@media (max-width: 1199px) {
    .presentation__title {
        padding-right: 15%;
        margin-bottom: 30px;
        font-size: 50px;
    }

    .presentation__items {
        width: 100%;
        height: auto;
        margin: 0px;
    }

    .title {
        height: auto;
        font-size: 50px;
        padding-right: 12%;
    }

    .presentation__img {
        width: 100%;
        background-image: url(../resources/Presentation-image-tablet@2x.jpeg);
        padding: 289px 0px 30px 42px;
    }

}

@media (max-width: 767px) {
   .presentation__title {
        margin-bottom: 25px;
        font-size: 30px;
        line-height: 31.62px;
        padding-right: 5%;
    }

    .presentation__img {
        background-image: url(../resources/Presentation-image-mobile@.jpeg);
        padding: 201px 0px 15px 15px;
    }

    .presentation__description {
        max-width: 75%;
        height: auto;
        font-size: 16px;
        line-height: 21.86px;
    }
    
}