.reviews__container {
    width: 1400px;
    margin: 0 auto;
    padding: 0px 0px 150px 125px;
}

.reviws__title {
    font-size: 18px;
    line-height: 25px;
    margin-bottom: 30px;
}

.reviews__col {
    display: flex;
    flex-direction: column;
}

.reviews__row {
    display: flex;
    flex-direction: row;
    margin-bottom: 50px;
}

.item-title {
    font-size: 45px;
    line-height: 61px;  
    margin-bottom: 14px;

}

.item-subtitle {
    width: 530px;
    height: 390px;
    margin-right: 50px;
    font-size: 22px;
    line-height: 30px;
}

.item-subtitle_last {
    width: 835px;
}

@media (max-width: 1199px) {

    .reviews__container {
        width: 100%;
        padding: 0px 15px 120px 15px;
    }
    
    .item-title {
        font-size: 35px;
        line-height: 48px; 
        margin-bottom: 25px;
    
    }
    
    .item-subtitle {
        width: 100%;
        height: auto;
        margin-right: 10px;
        font-size: 20px;
        line-height: 27px;
    }
    
    .item-subtitle_last {
        width: 695px;
    }
}

@media (max-width: 767px) {

    .reviews__container {
        width: 100%;
        padding: 0px 12px 80px 14px;
    }
    
    .reviws__title {
        font-size: 14px;
        line-height: 19px;
        margin-bottom: 22px;
    }
    
    /* .reviews__col {
        display: flex;
        flex-direction: column;
    } */
    
    .reviews__row {
        display: flex;
        flex-direction: column;
        margin-bottom: 50px;
    }
    
    .item-title {
        font-size: 25px;
        line-height: 34px;
        margin-bottom: 10px;
    
    }
    
    .item-subtitle {
        margin-right: 0px;
        font-size: 16px;
        line-height: 22px;
    }
    
    .item-subtitle_last {
        width: 100%;
    }
}