.services {
    background-color: #121212;
}

.serviсes__container {
    padding-top: 150px;
    padding-bottom: 150px;
    margin-bottom: 144px;
}

.services__title {
    color: #ffffff;
}
                    
.serviсes__items {
    display: flex;
    flex-wrap: wrap;
    row-gap: 80px;
    justify-content: space-between;
    margin-bottom: 104px;
}

.serviсes__item {
    width: calc(50% - 5px);  
}

.item__image {
    height: 388px;
    padding: 31.5px 0px 0px 30px;
    margin-bottom: 25px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
}

.item__sticker {
    width: 163px;
    height: 40px;
    border-radius: 5px;
    font-size: 22px;
    line-height: 40px;
    background-color: #AD1818;
    text-align: center;
    color: #ffffff;
    padding: 0 20px;
}

.item__sticker_supervision {
    width: 193px;
}

.item__sticker_equipment {
    width: 211px;
}

.item__title {
    font-size: 30px;
    line-height: 41px;
    color: #FFFFFF;
}

.serviсes__button {
    height: 153px;
    display: block;
    padding-top: 56px;
    background: #AD1818;
    border-radius: 5px;
    font-size: 30px;
    text-decoration: none;
    line-height: 41px;
    text-align: center;
    color: #FFFFFF;
}

.image_solution {

    background-image: url(../resources/image_solution@2x.jpeg);
}

.image_design-project {
    background-image: url(../resources/image_design-project@2x.jpeg);
}

.image_supervision {
    background-image: url(../resources/image_supervision@2x.jpeg);
}

.image_equipment {
    background-image: url(../resources/image_equipment@2x.jpeg);
}

@media (max-width: 1199px) {

    .serviсes__container  {
        width: 100%;
        padding: 150px 23px 120px 26px;
        margin-bottom: 118px;
    }

    .services__title {
        margin: 0px 0px 30px 0px;
    }
    
    .serviсes__items {
        margin-bottom: 80px;
    
    }

    .item__image {
        height: 315px;
        padding: 31.5px 0px 0px 33px;
        margin-bottom: 15px;
    }

    .item__sticker {
        font-size: 20px;
        line-height: 40px;
    }

    .serviсes__button {
        width: calc(100% + 20px);
        margin: 0px 0px 0px -10px;
    }

    .item__title {
        font-size: 25px;
        line-height: 34.15px
    }

    .image_solution {

        background-image: url(../resources/image_solution-tablet.jpeg);
    }
    
    .image_design-project {
        background-image: url(../resources/image_design-project-tablet.jpeg);
        padding-left: 42px;
    }
    
    .image_supervision {
        background-image: url(../resources/image_supervision-tablet.jpeg);
    }
    
    .image_equipment {
        background-image: url(../resources/image_equipment-tablet.jpeg);
        padding-left: 42px;
    }   
}

@media (max-width: 767px) {

    .serviсes__container {
        padding: 80px 12px 80px 13px;
        margin-bottom: 77px;
    }

    .services__title {
        height: 19px;
        font-size: 14px;
        line-height: 19px;
        margin: 0px 0px 20px 2px;
    }

    .serviсes__items {
        row-gap: 59px;
        flex-direction: column;
        margin-bottom: 60px;
    }

    .serviсes__item {
        width: 100%;  
    }

    .item__image {
        height: 240px;
        padding: 24px 0px 0px 24px;
        margin-bottom: 15px;
    }

    .item__sticker {
        width: 38%;
        height: auto;
        border-radius: 3.8px;
        padding: 0 20px;
        font-size: 14px;
        line-height: 30px;
    }

    .item__sticker_supervision {
        width: 45%;
    }
    
    .item__sticker_equipment {
        width: 50%;
    }

    .item__title {
        font-size: 18px;
        line-height: 25px;
        color: #FFFFFF;
    }

    .item__image {
        height: 240px;
        margin-bottom: 10px;
    }

    .serviсes__button {
        width: 100%;
        height: 100px;
        margin: 0px 0px 0px 0px;
        padding-top: 35px;
        border-radius: 3.8px;
        font-size: 22px;
        line-height: 30px;
    }

    .image_solution {

        background-image: url(../resources/image_solution-mobile.jpeg);
    }
    
    .image_design-project {
        background-image: url(../resources/image_design-project-mobile.jpeg);
    }
    
    .image_supervision {
        background-image: url(../resources/image_supervision-mobile.jpeg);
    }
    
    .image_equipment {
        background-image: url(../resources/image_equipment-mobile.jpeg);
    }

}