.services {
    background-color: #121212;
}

.serviсes__container {
    width: 1400px;
    margin: 0 auto 144px;
    padding: 150px 125px;
}

.services__title {
    width: 66px;
    height: 25px;
    font-size: 18px;
    line-height: 25px;
    margin: 0px 0px 30px 0px;
    color: #ffffff;

}
                    
.serviсes__items {
    display: flex;
    flex-wrap: wrap;
    row-gap: 80px;
    justify-content: space-between;
    margin-bottom: 104px;

}

.serviсes__item {
    width: calc(50% - 5px);  
}

.item__image {
    height: 388px;
    padding: 30px 0px 0px 30px;
    margin-bottom: 25px;
    background-size: cover;
    background-position: 50% 50%;
}

.item__sticker {
    width: 163px;
    height: 40px;
    border-radius: 5px;
    padding-top: 5px;
    font-size: 22px;
    line-height: 30px;
    background-color: #AD1818;
    text-align: center;
    color: #ffffff;
}

.item__sticker_supervision {
    width: 193px;
}

.item__sticker_equipment {
    width: 211px;
}

.item__title {
    font-size: 30px;
    line-height: 41px;
    color: #FFFFFF;
}

.serviсes__button {
    height: 153px;
    display: block;
    margin-top: 104px;
    padding-top: 56px;
    background: #AD1818;
    border-radius: 5px;
    font-size: 30px;
    text-decoration: none;
    line-height: 41px;
    text-align: center;
    color: #FFFFFF;
}

.image_solution {

    background-image: url(../resources/image_solution@2x.jpeg);
}

.image_design-project {
    background-image: url(../resources/image_design-project@2x.jpeg);
}

.image_supervision {
    background-image: url(../resources/image_supervision@2x.jpeg);
}

.image_equipment {
    background-image: url(../resources/image_equipment@2x.jpeg);
}

@media (max-width: 1199px) {

    .serviсes__container  {
        width: 100%;
        padding: 150px 15px 120px 15px;
        margin-bottom: 120px;
    }

    .services__title {
        margin: 0px 0px 30px 0px;
    }
    
    .serviсes__items {
        margin-bottom: 0px;
    
    }

    .item__image {
        height: 315px;
        margin-bottom: 15px;
    }

    .serviсes__button {
        margin-top: 80px;
    }

    .item__title {
        font-size: 25px;
        line-height: 34.15px
    }

    .image_solution {

        background-image: url(../resources/image_solution-tablet.jpeg);
    }
    
    .image_design-project {
        background-image: url(../resources/image_design-project-tablet.jpeg);
    }
    
    .image_supervision {
        background-image: url(../resources/image_supervision-tablet.jpeg);
    }
    
    .image_equipment {
        background-image: url(../resources/image_equipment-tablet.jpeg);
    }
}

@media (max-width: 767px) {

    .serviсes__container {
        padding: 80px 12px 80px 13px;
        margin-bottom: 80px;
    }

    .services__title {
        height: 19px;
        font-size: 14px;
        line-height: 19px;
        margin: 0px 0px 20px 2px;
    }

    .serviсes__items {
        row-gap: 60px;
        flex-direction: column;
    }

    .serviсes__item {
        width: 100%;  
    }

    .item__image {
        height: 240px;
        padding: 24px 0px 0px 24px;
        margin-bottom: 15px;
    }

    .item__sticker {
        width: 55%;
        height: 30px;
        border-radius: 5px;
        padding-top: 3.8px;
        font-size: 14px;
        line-height: 19px;
    }

    .item__title {
        font-size: 18px;
        line-height: 25px;
        color: #FFFFFF;
    }

    .item__image {
        height: 240px;
    }

    .serviсes__button {
        height: 100px;
        margin-top: 60px;
        padding-top: 37px;
        border-radius: 3.8px;
        font-size: 22px;
        line-height: 30px;
    }

    .image_solution {

        background-image: url(../resources/image_solution-mobile.jpeg);
    }
    
    .image_design-project {
        background-image: url(../resources/image_design-project-mobile.jpeg);
    }
    
    .image_supervision {
        background-image: url(../resources/image_supervision-mobile.jpeg);
    }
    
    .image_equipment {
        background-image: url(../resources/image_equipment-mobile.jpeg);
    }

}